<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suyashsrijan.forcedoze">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AutoRestartOnUpdate">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".EnableForceDozeService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.suyashsrijan.forcedoze.ENABLE_FORCEDOZE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DisableForceDozeService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.suyashsrijan.forcedoze.DISABLE_FORCEDOZE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AddWhiteListReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.suyashsrijan.forcedoze.ADD_WHITELIST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".RemoveWhiteListReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.suyashsrijan.forcedoze.REMOVE_WHITELIST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ForceDozeService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".DozeStatsActivity"
            android:label="Doze battery stats" />
        <activity
            android:name=".WhitelistAppsActivity"
            android:label="Whitelist" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".LogActivity"
            android:label="Debug log" />
        <activity
            android:name=".PackageChooserActivity"
            android:label="Package chooser" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Enables more ForceDoze features" />
        <meta-data
            android:name="xposedminversion"
            android:value="72" />

        <activity android:name=".AboutAppActivity" android:label="About"></activity>
    </application>

</manifest>